<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  meaning: <div><%= truncate(post.body, :length => 35) %></div>

  <br>
  <%= link_to "Read Word and Sentence", post %>
<% end %>

<%= will_paginate @posts %>
