<!DOCTYPE html>
<html>
  <head>
    <title>moawl</title><br>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<u><h1 align= "center"> moawl. </h1></u> <br>
  	<div align= "center">
  	<a href= "application.html.erb">home </a>	
    </div>
  	<h2 align="center"> Mother of all word lists</h2>
  	<h3 align="center"> Consolidated word list from Barrons, ETS, Manhattan </h3>
  	<h2 align="center"> <p> moawl was created in order to make  the best list for gre vocabulary. </p></h1>
  </body>
  <br>
   
 <div align= "center">
  <footer>
  	<h3>copyright &copy; 2016 moawl.</h3>
  </footer>
</div>

</html>